/* body{
    text-align: center;
}

.tooltip{
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted red;
}
.tooltip .tooltip_content{
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px ;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top:-5px;
    left: 105px;
    right: 105px;
    bottom:100%; 
    top:100%;
    left:50%;
    margin-left: -99px;
}

.tooltip:hover .tooltip_content{
    visibility: visible;
    opacity: 0.8;
}

img{
    border-radius: 10px;
    border-radius: 50%; 
    border:1px solid gray;
    padding: 10px;
    width: 60%;
    height:auto;
    width: 100%;
}

.contener{
    position: relative;
}
h2{
    position: absolute;
    top:50%;
    left: 50%;
    color:white;
    font-size: 50px;
}
 */

/* CSS Filters */

.filter{
    width: 200px;
    height: auot;
    margin-bottom: 200px;
    /* filter: blur(4px); */
    /* filter: brightness(150%); */
    /* filter: contrast(200%); */
    filter: drop-shadow(200%);

}