
a[target]{
    color:red;
}
a[target="_blank"] {
    background-color: yellow;
    color:blue;
  }



  p[class~="para"]{
    color:cadetblue;
  }

  p[class$="para"]{
    color:blueviolet;
  }